.full-results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-form {
    width: 600px;
    background-color: #2C2F33;
}

.switching-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-result {
    color: white;
}