.full-results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-form {
    margin-top: 20px;
    width: 600px;
    background-color: #2C2F33;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.switching-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-result {
    color: white;
}

.result-user {
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}

.result-question {
    color: white;
    font-size: 30px;
    padding-left: 10px;
}

.result-answer {
    color: white;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.result-field {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.result-icon-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

.text-response-user {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    background-color: #7289DA;
    border-radius: 10px 10px 0px 0px;
}

.result-icon-image-mini {
    width: 25px;
    height: 25px;
    padding-top: 2px;
    padding-left: 5px; 
    border-radius: 50%;
}

.text-response-user-name {
    color: white;
    font-size: 15px;
    padding-top: 8px;
    padding-left: 5px;
}

.text-response-response {
    color: white;
    background-color: #2C2F33;
    min-height: 100px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    border-radius: 0px 0px 10px 10px;
}

.text-result {
    margin-top: 10px;
    margin-bottom: 50px;
}

.response-question-text {
    color: white;
    font-size: 50px;
}

.text-response-box {
    box-shadow: 2px 2px 2px black;
    border-radius: 50px 10px 10px 10px;
}

.response-chart {
    margin-top: 10px;
    margin-bottom: 50px;
    height: 500px;
    width: 500px;
    box-shadow: 2px 2px 2px black;
}

.aggregate-button, .full-button {
    height: 31px;
    width: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #7289DA;
    outline: none;
    border: none; 
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    font-size: 20px;
}

.aggregate-button:hover, .full-button:hover {
    cursor: pointer;
}

.result-single-answer {
    margin-bottom: 10px;
}