body {
    background-color: rgb(27, 30, 32);
}

.App {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-component {
    display: inline-block;
}

.content-wrapper {
    max-width: 1200px;
    margin-top: 8px;
}

.top-bar, .survey-top-bar {
    height: 50px;
    width: 100vw;
    background-color: #7289DA;
    display: flex;
    flex-direction: row-reverse;
}

.top-bar-content, .survey-top-bar-content {
    flex: .5;
    display: flex;
    flex-direction: row-reverse;
}

.form-creation-top-bar {
    height: 50px;
    width: 100vw;
    background-color: #7289DA;
    display: flex;
    flex-direction: row-reverse;
}

.home-button-content {
    flex: .5;
    display: flex;
    justify-content: right;
}

.form {
    margin-bottom: 10px;
}

.header {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff; 
}

.form-create {
    background-color: #23272A;
    box-shadow: 2px 2px 2px black;
    color: #ffffff;
    border: 0;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.form-create:hover {
    cursor: pointer;
}

.name-box {
    box-shadow: 2px 2px 2px black;
    padding: 5px;
    border: 0;
    height: 15px;
}

.name-box:focus {
    outline: 2px solid #7289DA; 
}

.preview-link, .results-button, .edit-button, .home-button {
    position: relative;
    display: block;
    color: #ffffff;
    background-color: #23272A;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.add-short, .add-paragraph, .add-checkbox, .add-dropdown, .add-multi {
    background-color: #23272A;
    outline: none;
    border: none;
    margin-bottom: 5px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 2px 2px 2px black;
}

.submit-active, .submit-disabled {
    height: 25px;
    width: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #23272A;
    outline: none;
    border: none; 
    color: #ffffff;
    box-shadow: 2px 2px 2px black;
}

.submit-active:hover {
    cursor: pointer;
}

.submit-disabled {
    color: gray;
}

.add-short:hover, .add-paragraph:hover, .add-checkbox:hover, .add-dropdown:hover, .add-multi:hover {
    cursor: pointer;
}

.results-button, .edit-button, .home-button {
    outline: 0;
    border: 0;
}

.user-icon {
    border-radius: 50%;
    padding-top: 2px;
    padding-right: 5px;
    height: 45px;
    width: 45px;
}

.button-panel-wrapper {
    margin: 15px auto; 
    position: relative; 
}

.button-panel {
    padding-left: 10px;
    width: 100px; 
    position: fixed; 
    margin-left: 600px;
    display: flex;
    flex-direction: column;
}

.form-contents {
    box-shadow: 2px 2px 2px black;
    width: 600px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    background-color: #23272A;
    box-sizing: border-box;
}

.title-object {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #23272A;
}
.title-display {
    color: #FFFFFF;
    font-size: 40px;
}

.description-display {
    color: #FFFFFF;
    font-size: 20px;
}

.option-text {
    color: #ffffff;
}

.survey-question-object {
    background-color: #23272A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.survey-question-question {
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
}

.survey-short-answer-entry, .survey-paragraph-entry {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.survey-checkbox-choice, .survey-multi-choice, .survey-dropdown-choice-options {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
}

.question-object {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.title-entry, .description-entry, .question-entry, .other-text, .options, .paragraph-question, .short-answer-question {
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.other {
    color: #FFFFFF;
}

.option-text {
    color: #FFFFFF;
    outline: 0;
    border: 0;
    background-color: #99AAB5;
    margin-top: 5px;
    background-color: #23272A;
}

.title-entry {
    font-size: 40px;
}

.description-entry, .option-text, .other-text, .other {
    font-size: 20px;
}

.question-and-remove {
    display: flex;
    flex-direction: row;
}

.question-and-bar {
    flex: 1;
}

.question-entry {
    font-size: 30px;
    width: 100%;
}

.remove-question {
    flex: 0;
    font-size: 15px;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
}

.remove-question:hover, .required-button:hover, .home-button:hover, .edit-button:hover, .results-button:hover, .remove-option:hover {
    cursor: pointer;
}

.bar  { 
    position: relative; 
    display: block; 
    width: 100%; 

}
.bar:before, .bar:after   {
  content: '';
  height: 3px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #7289DA; 
  transition: 0.3s ease all; 
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%; 
}

input:focus + .bar:before, input:focus + .bar:after {
  width: 50%;
}
.paragraph-entry {
    resize: none;
}
.multi-choice-text, .checkbox-choice-text, .dropdown-choice-text, .other {
    display: flex;
    align-content: left;
}

.survey-form {
    max-width: 1200px;
    display: inline-block;
}

.survey-contents {
    margin-top: 10px;
    box-shadow: 2px 2px 2px black;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.another {
    position: relative;
    width: 100px;
    cursor: pointer;
    left: 35%;
}

.forms-listing {
    display: flex;
    width: 1200px;
    flex-direction: column;
    margin-top: 100px;
}

.form-preview {
    margin-bottom: 5px;
    background-color: #23272A;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 2px black;
}

.form-link {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preview {
    flex: 1;
    width: 100%;
}

.form-preview > a {
    text-decoration: none;
    color: white;
}

.required-notice {
    color: red;
}

.option {
    display: flex;
    padding-bottom: 2px;
    align-items: center;
}

.options {
    padding-left: 10px;
}

.form-titles {
    display: flex;
    flex-direction: row;
}

.display {
    color: white;
    flex: 1;
    font-size: 20px;
    margin-bottom: 5px;
}