body {
    background-color: rgb(27, 30, 32);
}

.App {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.edit-component {
    display: inline-block;
}

.form {
    margin-bottom: 10px;
}

.form-name {
    font-size: 30px;
    color: #ffffff; 
}

.preview-link {
    position: relative;
    display: block;
    color: #ffffff;
    background-color: #23272A;
    box-shadow: 2px 2px 2px black;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.button-panel-wrapper {
    margin: 15px auto; 
    position: relative; 
}

.button-panel {
    padding-left: 10px;
    width: 100px; 
    position: fixed; 
    margin-left: 600px;
    display: flex;
    flex-direction: column;
}

.form-contents {
    box-shadow: 2px 2px 2px black;
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #23272A;
}

.title-object {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    background-color: #23272A;
}

.question-object {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 100%;
    overflow: hidden;
    background-color: #23272A;
}

.title-entry, .description-entry, .question-entry, .other-text, .checkbox-choice-options, .multiple-choice-options, .dropdown-choice-options, .paragraph-question, .short-answer-question {
    color: #FFFFFF;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.multi-choice-text, .checkbox-choice-text, .dropdown-choice-text {
    color: #FFFFFF;
    outline: 0;
    border: 2px solid #2C2F33;
    background-color: #99AAB5;
    border-radius: 10px;
    margin-top: 5px;
    background-color: #2C2F33;
}

.multi-choice-text:focus, .checkbox-choice-text:focus, .dropdown-choice-text:focus {
    border: 2px solid lightblue;
}

.title-entry {
    font-size: 40px;
}

.description-entry, .multi-choice-text, .checkbox-choice-text, .dropdown-choice-text, .other-text {
    font-size: 20px;
}

.question-and-remove {
    display: flex;
    flex-direction: row;
}

.question-and-bar {
    flex: 1;
}

.question-entry {
    font-size: 30px;
    width: 100%;
}

.remove-question {
    flex: 0;
    font-size: 15px;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
}

.remove-question:hover {
    cursor: pointer;
}

.required-button:hover {
    cursor: pointer;
}

.bar  { 
    position: relative; 
    display: block; 
    width: 100%; 

}
.bar:before, .bar:after   {
  content: '';
  height: 3px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #7289DA; 
  transition: 0.3s ease all; 
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%; 
}

input:focus + .bar:before, input:focus + .bar:after {
  width: 50%;
}
.paragraph-entry {
    resize: none;
}
.multi-choice-text, .checkbox-choice-text, .dropdown-choice-text, {
    display: flex;
    align-content: left;
}

.survey-contents {
    position: absolute;
    box-shadow: 2px 2px 2px black;
    left: 50%;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.another {
    position: relative;
    width: 100px;
    cursor: pointer;
    left: 35%;
}