.App {
    width: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.button-panel-wrapper {
    width: 600px; 
    margin: 15px auto; 
    position: relative; 
}

.button-panel {
    padding-left: 10px;
    width: 100px; 
    position: fixed; 
    margin-left: 900px;
    display: flex;
    flex-direction: column;
}

.form-contents {
    position: absolute;
    box-shadow: 2px 2px 2px black;
    left: 50%;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.title-object {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.question-object {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 400px;
}

.title-entry, .description-entry, .question-entry, .multi-choice-text, .checkbox-choice-text, .dropdown-choice-text, .other-text {
    border: 0;
    outline: 0;
}

.title-entry {
    font-size: 40px;
}

.description-entry, .multi-choice-text, .checkbox-choice-text, .dropdown-choice-text, .other-text {
    font-size: 20px;
}

.question-entry {
    font-size: 30px;
}

.bar  { 
    position: relative; 
    display: block; 
    width: 100%; 

}
.bar:before, .bar:after   {
  content: '';
  height: 3px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: blue; 
  transition: 0.3s ease all; 
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%; 
}

input:focus + .bar:before, input:focus + .bar:after {
  width: 50%;
}
.paragraph-entry {
    resize: none;
}
.multi-choice-text, .checkbox-choice-text, .dropdown-choice-text, {
    display: flex;
    align-content: left;
}

.survey-contents {
    position: absolute;
    box-shadow: 2px 2px 2px black;
    left: 50%;
    width: 600px;
    display: flex;
    flex-direction: column;
}